@charset "utf-8";
/* CSS Document */
section{
	 padding-top:50px;
	 padding-bottom:50px;
	     color: red;
	}
 .h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
	font-size:inherit;
	color:#CC0099;
}	
input, button, textarea, select{
	 border-radius:0!important
	}
#top{
	background:#CCCCCC;
	table-layout:auto;
	text-decoration:none;
	speak-punctuation:code;
	    color: red;s
		}
#top .tab-content select{
	 width:100%;
	 height:50px;
	}	
#top .tab-pane{
	padding:40px 20px;
	
	 background:#fff
	}	
#top .tab-pane form button{
	height:50px;
	width:100px;
	color:red;
	}
	h3, .h3 {
    font-size: 32px;
}
body h3
{
color:#FF0000;
}