@charset "utf-8";
/* CSS Document */
section{
	 padding-top:50px;
	 padding-bottom:50px;
	}
	.h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}	
#top{
	background:#FFFF99;
	}
	#middle
	{
	background:#FFCCCC;
	font-size:18px;
	color:red;
	}
 #middle h3{
color:#FF0000;
font-size:36px;
}
#top .tab-pane form button{
	height:33.9px;
	width:300px;
	color:red;
	margin:none;
	}
#middle1 h3{
color:#FF0000;
font-size:36px;
}
#middle1 {
background-color:#CC99FF;
color:#9966FF;
font-size:36px;
}
#featuredDoctors{
background:#0090f4
}
#featuredDoctors h3.title{
margin-bottom:15px;
}

#featuredDoctors .doctor_name{
 margin-top:10px;
 margin-bottom:10px;
 font-size:18px;
 font-weight:lighter
}
#featuredDoctors .btn{
     background-color: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    text-shadow: none;
    border: 1px solid #fff;
    font-weight: lighter;
}